@media only screen and (max-width: 600px) {
  html,
  body {
    overflow-x: hidden;
  }

  .secondaryColor {
    width: 25px;
  }

  /* #sobre {
    width: 25px;
  } */

  .div-ajuda,
  .image-container,
  .secondaryColor {
    display: none;
  }
}
